@model EtkinlikTakvimi.Web.Entities.Event

<div class="container-flued">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4>Rezarvasyon Ekle</h4>
				</div>
				<div class="card-body">
					<form action="Rezarvasyon" method="post">
						<div class="form-row">
							<div class="col-md-6 form-group">
								<label>Başlık</label>
								<input asp-for="title" class="form-control" />
							</div>
						</div>


						<div class="form-row">
							<div class="col-md-6 form-group">
								<label>Başlanğıç Tarihi</label>
								<input asp-for="start" class="form-control" />
							</div>
							<div class="col-md-6 form-group">
								<label>Bitiş Tarihi</label>
								<input asp-for="end" class="form-control" />
							</div>
						</div>


						
						<div class="form-row">
							<div class="col-md-6 form-group">
								<label>Color</label>
								<input asp-for="color" class="form-control" />
							</div>
							<div class="col-md-6 form-group">
								<label>Text Color</label>
								<input asp-for="textColor" class="form-control" />
							</div>
						</div>

						<input type="submit" value="Kaydet" class="btn btn-primary" />

					</form>
				</div>
			</div>
		</div>
	</div>
</div>


